name: Push Docker image

on:
  push:
    - main

jobs:
  push_image:
    name: Push Docker image
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: "${{ secrets.DOCKERHUB_USERNAME }}"
          password: "${{ secrets.DOCKERHUB_PASSWORD }}" 
      - uses: docker/build-and-push-docker-images@v6
        with:
          push: true
          tags: |
            msa3dfa/flask-app:latest
            msa3dfa/flask-app:${{ github.sha }}
